{% extends 'teach/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Logowanie{% endblock %}
{% block content %}
    <div class="content-section" id="login-div">
        <form method="POST" class="mb-4">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Zaloguj się!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">zaloguj się</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Nie masz jeszcze konta?
                <a href="{% url 'register' %}" class="ml-2">Zarejestruj się</a>
            </small>
        </div>
    </div>
{% endblock %}